---
title: Home
date: 2016-10-24 +0700
categories: Home
description: Home
author: Me
layout: default-new2
---

<html>

  <head>
    {% include header2.html %}
    <style>
    .bg {
      background-repeat: no-repeat;
      background-color: #cccccc;
    }


  .p1 {
    text-align: center;
    margin-bottom: 30%;

  }
  .p2{
   text-align: center;
   margin-top: 60%;
  }

    </style>
  </head>
<header bgcolor="#2ecc71">
  <img class="bg" src="pics/aircraft.png" alt="bg"  width="100%" >
  <div class="carousel-caption p1">
    <p>
      <h1> TAMIS </h1> <br>
      <h2> Thailand Agriculture Mobile Information System </h2>
    </p>
  </div>
    <div class="carousel-caption p2">
      <p>
        <h1>Download Application</h1> <br>
        <img  src="pics/android-app.png" alt="app"  width="20%" height="10%"/>
      </p>
    </div>

</header>
  <body>
<div class="container-fluid">
<div clss ="container">
<div class="col-md-6 col-sm-6">



</div>
<div class="col-md-6 col-sm-6"ฬ


</div>
</div>



  </body>
  <footer>
    {% include footer.html %}
  </footer>
</html>
