---
  title: เกษตรกรเลี้ยงไหม
  date: 2014-12-04 +0700
  categories: News
  description: News1
  author: Me
  layout: default-nav
---

<html>
  <head>
    {% include header2.html %}
  </head>
  <style>
  .pt{
    padding-top: 30px;
  }
    .padding{
      padding-top: 50%;
    }
  </style>
  <body>
    <div class="container pt">
      <h1> เกษตรกรเลี้ยงไหม ปรับตัวรับสภาพอากาศ  </h1>
      <h2> Nation TV - เว็บไซต์สถานีข่าวอันดับ 1 ของเมืองไทย</h2><br>

        <p>&emsp; สภาพอากาศที่เปลี่ยนแปลง ฝนที่ไม่ตกต้องตามฤดูกาล กำลังสร้างปัญหาให้กับเกษตรผู้เลี้ยงไหม
        โดยที่ผ่านมาหนอนไหมจำนวนมากไม่สามารถเจริญเติบโตได้ เมื่อฝนตกหรือว่าอากาศร้อนเกินไป</p>
        <p> อากาศที่ร้อนจัดมีผลกระทบชัดเจนต่อเกษตรกรผู้ปลูกหม่อนเลี้ยงไหม ที่ยังคงต้องพึ่งพาสภาพอากาศเป็นปัจจัยสำคัญที่ผ่านมากรมหม่อนไหมได้ใช้วิธี
        ปรับปรุงพันธุ์หนอนไหมเพื่อช่วยเหลือเกษตรกร</p>
        <p> รับมือกับสภาพอากาศ แก้ปัญหาที่เกิดขึ้นในทันทีนอกจากหนอนไหมสายพันธุ์ดีแล้ว เกษตรกรยังต้องการผลิตเส้นไหมให้ได้คุณภาพ
        โดยที่ผ่านมาได้มีการนำร่องรวมกลุ่มผู้ผลิตไหมไทย รวมกับทีมวิจัย</p>
        <p>จาก ศูนย์เทคโนโลยีอิเล็กทรอนิกส์ และคอมพิวเตอร์แห่งชาติ
        โดยเก็บข้อมูลเกษตรกรเข้าระบบไอที เพื่อนำมาพัฒนารูปแบบการผลิตให้เป็นที่ยอมรับมากขึ้นวันนี้ประเทศไทยมีเกษตรกรผู้ปลูกหม่อนเลี้ยง</p>
        <p> ไหมกว่า 1 แสนราย ซึ่งยังต้องการตลาดที่เหมาะสม โดยไม่ต้องผ่านพ่อค้าคนกลาง ซึ่งการรวมกลุ่มเกษตรกรผู้เลี้ยงไหมให้เข้มแข็ง จะเป็นกลไกสร้างตลาดได้ในอนาคตจุฑารัตน์\
        </p>

    </div>
    <div class="padding"></div>
  </body>
  {% include footer2.html %}
</html>
