---
  title: วางฐานดิจิตอลตลาดไหมไทย
  date: 2014-12-05 +0700
  categories: News
  description: News12
  author: Me
  layout: default-new2
---
<html>
  <head>
    {% include header2.html %}
  </head>
  <style>
  .pt{
    padding-top: 30px;
  }
    .padding{
      padding-top: 10%;
    }
  </style>
  <body>
    <div class="container pt">
      <h1>  วางฐานดิจิตอลตลาดไหมไทย เกษตรฯจับมือเนคเทคพัฒนาระบบไอทีบริหารจัดการ  </h1>
      <h2> Nation TV - เว็บไซต์สถานีข่าวอันดับ 1 ของเมืองไทย</h2><br>

        <p>&emsp; &emsp;นายสฤษดิพร ชูประยูร รองอธิบดีกรมหม่อนไหม เปิดเผยว่า กรมหม่อนไหมร่วมกับศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห่งชาติ (สวทช.)
           หรือ เนคเทค พัฒนาระบบเทคโนโลยีสารสนเทศเพื่อการจัดการกระบวนการผลิตและการตลาดไหมไทยระยะที่ 1 ภายใต้แนวคิด Small Farmer to Single
            Market by Mobile Thai Silk หรือ เกษตรกรไหมไทย ก้าวไกลสู่ตลาด ด้วยระบบสารสนเทศ ซึ่งจะช่วยให้ประเทศไทยมีฐานข้อมูลเกษตรกรและ
            พื้นที่การปลูกหม่อนเลี้ยงไหมที่ชัดเจน เกษตรกรที่ลงทะเบียนไว้กับระบบสามารถแสดงภาพตัวอย่างของเส้นไหมไทยที่มีมาตรฐาน
            และปริมาณเส้นไหมที่พร้อมจะขายสู่ผู้ผลิตผ้าไหม ช่วยจัดการกระบวนการการผลิตและการตลาดไหมไทย ด้านผู้ซื้อเส้นไหมที่ลงทะเบียนไว้จะได้ประโยชน์
            จากการรู้แหล่งผลิตและปริมาณของเส้นไหม ทำให้เกษตรกรผู้มีอาชีพด้านหม่อนไหมและกลุ่มอุตสาหกรรมที่เกี่ยวข้องได้รับข้อมูลข่าวสารอย่างครบถ้วน
            สามารถติดต่อเชื่อมโยงเครือข่ายระหว่างผู้ผลิตและผู้ซื้อได้สะดวก รวดเร็ว ซึ่งทั้งหมดนี้จะเป็นพื้นฐานของการสร้างตลาดดิจิตอลไหมไทยขึ้นมาในอนาคต</p>
        </p>

        <p> &emsp; &emsp;ดร.ศรันย์ สัมฤทธิ์เดชขจร ผู้อำนวยการ สวทช. กล่าวว่า ทีมนักวิจัยสวทช.ได้พัฒนาระบบ Mobile Thai Silk
          ที่เป็นระบบเทคโนโลยีสารสนเทศเพื่อการจัดการกระบวนการผลิตและการตลาดไหมไทย ที่ต่อยอดมาจากระบบ
          TAMIS :Thailand Agriculture Mobile Information System หรือเรียกสั้นว่า “การเกษตรไทยแบบพกพา”
          เป็นเครื่องมือที่ใช้สำหรับเก็บข้อมูลผ่านแท็บเลต (Tablet) และใช้ Smart card เพื่อให้เจ้าหน้าที่ใช้ในการลงทะเบียนเกษตรกร
          และเก็บพิกัดแปลงเพาะปลูกด้วย จีพีเอส บนแผนที่ Google Maps และระบบยังสามารถใช้ได้ทั้ง on-line และ off-line
          เพื่อเพิ่มศักยภาพอุตสาหกรรมไหมไทย</p>

          <b><p>โดยระบบฯสามารถรองรับความต้องการในการจัดเก็บข้อมูลประกอบด้วย</p></b>
          <p>1.ระบบลงทะเบียนเกษตรกรด้านหม่อนไหม ด้วยบัตร Smart card บนแท็บเลตแอนดรอยด์ </p>
          <p>2.ระบบลงทะเบียนพื้นที่เพาะปลูกด้วยเทคโนโลยีจีพีเอสร่วมกับแผ่นที่กูเกิ้ลแมป </p>
          <p>3.ระบบลงทะเบียนผลผลิต เช่น ปลูกหม่อน เลี้ยงไหม (รังไหม) และผลิตเส้นไหม ที่พื้นที่ไหน </p>
          <p>4.ระบบตรวจประเมินคุณภาพเส้นไหมสาวมือ ตามมาตรฐานสินค้าเกษตร มกษ 800-2555 </p>
          <p>5.ระบบลงทะเบียนผู้ประกอบการ ซื้อผลิตภัณฑ์ด้านหม่อนไหม ผ่านเว็บไซต์ </p>
          <p>6.ระบบลงทะเบียนผู้เชี่ยวชาญด้านหม่อนไหม </p>
          <p>7.ระบบรายงานสรุปผล สำหรับผู้บริหารแบบทันการ (Real Time)</p>

          <p> หมวดหมู่ของข่าว: เศรษฐกิจ การค้า การลงทุน</p>
          <p> แหล่งข่าว: แนวหน้า</p>
          <p> ที่มา http://www.naewna.com/local/133944</p>


    </div>
    <div class="padding"></div>
  </body>
  {% include footer2.html %}
</html>
