<style>
.cn {
  background-color: #263238 ;

}
.pd {
    color: #90A4AE;
    padding-right: 30px;
    text-align: center;
}
.pd1{
  text-align: center;
  padding-left: 0px ;
}
.cnt{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pd2{
  padding-bottom: 15px;
  color: white;
}
.a{
  text-align: right;
}
.a2{
  color: white;
}
.bg{
  background-color: #263238;
}
  </style>
<footer class= "bg">
    <div class="container-fluid ">
    <div class="col-md-12 col-sm-12 ">
      <a href="http://www.nectec.or.th/">
              <img src="https://netpie.io/public/netpieio/assets/images/logo/nectec_logo_footer.png"
              style=" height: 50px; padding-top:10px;" align="left" alt="logo nectec"></a>

      <a href="http://www.nstda.or.th/">
                <img src="https://netpie.io/public/netpieio/assets/images/logo/nstda_logo.gif"
                style=" height: 50px; padding-top:10px;" align="right" alt="logo nstda"></a>
    </div>
    <div class="col-md-12 col-sm-12 ">
    <ul class="footer-social-block cnt">
    <h4 ><b><font color="white">Follow TAMIS</font></b></h4>
    <a href="https://www.facebook.com/TAMIS.NECTEC">
    <i class="fa fa-facebook-official fa-2x pd " aria-hidden="true"></i></a>

    <a href="mailto:someone@example.com?Subject=Hello%20again">
    <i class="fa fa-envelope fa-2x pd " aria-hidden="true"></i></a>

    <a href="https://github.com/Acherrylp/acherrylp.github.io">
    <i class="fa fa-github fa-2x pd " aria-hidden="true"></i></a>
    <a href="https://travis-ci.org/Acherrylp/acherrylp.github.io/jobs/172489949">
    <img class="pd2" src="/pics/Travisci.png" title="Travis CI" width="28" alt="icon travis"></a>
  </ul>
</div>

<div class="row">
<div class="col-md-12 col-sm-12 a2 pd2">

สงวนลิขสิทธิ์ ตาม พ.ร.บ.ลิขสิทธิ์ พ.ศ. 2537 โดย ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห่งชาติ


</div>
</div>
</div>
</footer>
