
<html>
  <head>
    <meta>
    <script src="https://use.fontawesome.com/e7c39939ee.js"></script>
  <style>


.cn {
  background-color: #263238 ;
  padding-bottom: 15px;
}
.pd {
    color: #90A4AE;
    padding-right: 30px;
    text-align: center;
}

.pd1{
  text-align: center;
  padding-left: 0px ;
}

.cnt{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.pd2{
  padding-bottom: 15px;
  color: white;
}

.a{
  text-align: right;
}
.a2{

  text-align: right;
  color: #90A4AE;
}

  </style>
  </head>
<body>
</body>
<footer class="cn">
    <div class="container ">
      <div class="col-md-4 col-sm-12 cnt"><br>
        <a href="http://www.nectec.or.th/" target="_blank">
                <img src="https://netpie.io/public/netpieio/assets/images/logo/nectec_logo_footer.png"
                style="vertical-align: bottom; height: 30px; padding-right:30px" align="left"></a>
               <img src="https://netpie.io/public/netpieio/assets/images/logo/nstda_logo.gif"
                               style="vertical-align: bottom; height: 30px; " align="left"></a>
    </div>
    <br>
    <div class="col-md-4 col-sm-12 ">

    <ul class="footer-social-block cnt">
      <b><p class="pd"><font color=" white">Follow TAMIS</p></b>
    <a href="https://www.facebook.com/TAMIS.NECTEC" target="_blank">
    <i class="fa fa-facebook-official fa-2x pd " aria-hidden="true"></i></a>

    <a href="https://www.facebook.com/TAMIS.NECTEC" target="_blank">
    <i class="fa fa-envelope fa-2x pd " aria-hidden="true"></i></a>

    <a href="https://github.com/Acherrylp/acherrylp.github.io" target="_blank">
    <i class="fa fa-github fa-2x pd " aria-hidden="true"></i></a>
    <a href="https://travis-ci.org/Acherrylp/acherrylp.github.io/jobs/172489949" target="_blank">
    <img class="pd2" src="pics/Travis CI Filled.png" title="Travis CI" width="25"></a>
  </ul>
</div>
<div class="col-md-4 col-sm-12">

</div>
</div>

<div class="col-md-8 col-sm-12  cn a2">

  สงวนลิขสิทธิ์ ตาม พ.ร.บ.ลิขสิทธิ์ พ.ศ. 2537 โดย ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห่งชาติ</div>
<div class="col-md-4 col-sm-12 pd cn">
  <a class="a" href="https://netpie.io/policy" style="text-decoration:none" ><font color=" white"> ข้อกำหนด |</font></a>
  <a class="a" href="https://netpie.io/policy" style="text-decoration:none" ><font color=" white"> ความเป็นส่วนตัว </font></a>
</div>

</footer>
</html>
