  <style>
.cn {
  background-color: #263238 ;
  padding-bottom: 15px;
}
.pd {
    color: #90A4AE;
    padding-right: 30px;
    text-align: center;
}

.pd1{
  text-align: center;
  padding-left: 0px ;
}

.cnt{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.pd2{
  padding-bottom: 15px;
  color: white;
}

.a{
  text-align: right;
}
.a2{
  color: white;
}
.bg{
  background-color: #263238;
}

  </style>
<footer>
    <div class="container-fluid bg">
    <div class="col-md-12 col-sm-12 ">
      <a href="http://www.nectec.or.th/">
              <img src="https://netpie.io/public/netpieio/assets/images/logo/nectec_logo_footer.png"
              style=" height: 40px; padding-top:10px;" align="left" alt="logo nectec"></a>

      <a href="http://www.nectec.or.th/">
                <img src="https://netpie.io/public/netpieio/assets/images/logo/nstda_logo.gif"
                style=" height: 40px; padding-top:10px;" align="right" alt="logo nstda"></a>
    </div>
    <div class="col-md-12 col-sm-12 ">
    <ul class="footer-social-block cnt">
    <h4 ><b><font color="white">Follow TAMIS</font></b></h4>
    <a href="https://www.facebook.com/TAMIS.NECTEC">
    <i class="fa fa-facebook-official fa-2x pd " aria-hidden="true"></i></a>

    <a href="mailto:someone@example.com?Subject=Hello%20again">
    <i class="fa fa-envelope fa-2x pd " aria-hidden="true"></i></a>

    <a href="https://github.com/Acherrylp/acherrylp.github.io">
    <i class="fa fa-github fa-2x pd " aria-hidden="true"></i></a>
    <a href="https://travis-ci.org/Acherrylp/acherrylp.github.io/jobs/172489949">
    <img class="pd2" src="https://maxcdn.icons8.com/Android_L/PNG/24/Logos/travis_ci-24.png" title="Travis CI" width="28" alt="icon travis"></a>
  </ul>
</div>
</div>

<div class="col-md-10 col-sm-12  cn a2">

สงวนลิขสิทธิ์ ตาม พ.ร.บ.ลิขสิทธิ์ พ.ศ. 2537 โดย ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห่งชาติ</div>
<div class="col-md-2 col-sm-12 pd cn">
  <a  href="https://netpie.io/policy" style="text-decoration:none" align="right" ><font color=" white"> ข้อกำหนด |</font></a>
  <a  href="https://netpie.io/policy" style="text-decoration:none" align="right" ><font color=" white"> ความเป็นส่วนตัว </font></a>
</div>

</footer>
