<style>
.nav1:hover{
  background-color: #ECEFF1;
}
.gray{
-webkit-filter: grayscale(100%);
}

</style>
<header class="shadow">
  <nav class="navbar-header navbar navbar-default navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="https://acherrylp.github.io/home">TAMIS</a>

  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li class="dropdown nav1">
        <a class="dropdown-toggle " data-toggle="dropdown" href="https://acherrylp.github.io/home">เกี่ยวกับ<span class="caret"></span></a>
        <ul class="dropdown-menu ">
          <li class="nav1 "><a href="#tamis">TAMIS คืออะไร</a></li>
          <li class="nav1 "><a href="#video">วิดีโอ</a></li>
          <li class="nav1"><a href="#location">Location</a></li>
          <li class="nav1"><a href="#clients">กลุ่มลูกค้า</a></li>
          <li class="nav1"><a href="#statics">จำนวนสถิติ</a></li>
        </ul>
      </li>
      <li class="nav1"><a href="https://acherrylp.github.io/news">ข่าวสารและกิจกรรม</a></li>
      <li class="nav1"><a href="https://acherrylp.github.io/downloads">ดาวน์โหลด</a></li>
    </ul>
    <ul class="nav nav1 navbar-nav navbar-right">
      <li ><a href="http://www.tamis.in.th"><span class="glyphicon glyphicon-log-in"></span> เข้าสู่ระบบ</a></li>
    </ul>
  </div>
  </div>
  </nav>
</header>
